<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731853760091-dml1em7fj328ipg3n2rrdjl0hc53bhq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731853760091-dml1em7fj328ipg3n2rrdjl0hc53bhq0</string>
	<key>API_KEY</key>
	<string>AIzaSyAz8Ngf0ICS85Lw0ZEn-w6gRONjttMkDXY</string>
	<key>GCM_SENDER_ID</key>
	<string>731853760091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gonzalez.angel.Gaga</string>
	<key>PROJECT_ID</key>
	<string>ddam-myapp-2022</string>
	<key>STORAGE_BUCKET</key>
	<string>ddam-myapp-2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731853760091:ios:67befb57ba958f73b6c17e</string>
</dict>
</plist>